<div class="container">
    <div>
        <mat-toolbar>
            <span>Configuraci&oacute;n</span>
        </mat-toolbar>

        <mat-card class="card">
            <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
            </mat-card-title-group>
            <div class="photo-description-content">
                <img src="../../../assets/images/foto medico.png" alt="">
                <mat-card-content class="description-text-align">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde in hic deserunt enim obcaecati optio
                    et
                    tempore laborum. Reprehenderit non quis facilis error doloribus sint quos quae nemo illum earum!.
                    Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Voluptates maxime consequatur minima ea odit.
                    Laudantium
                    officiis delectus nobis assumenda numquam sint eum? Corporis, quo illo nobis natus debitis totam
                    nam!
                </mat-card-content>
            </div>
        </mat-card>
        <div class="formulario-perfil">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Especialidad</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Correo electr&oacute;nico</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Costo por cita</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>