<div style="width: 100vw; height: 100vh" class="fondo">
</div>
<div id="div-main-log-in" class="animate__animated animate__fadeIn">
    <form [formGroup]="formGroupRecoverPassword" novalidate>
        <div id="div-log-in-fields-button">
            <div id="div-fields-log-in" style="z-index: 100;">
                <div id="header-register-user">
                    <button mat-raised-button matTooltip="Regresar" matTooltipShowDelay="625" routerLink="/">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <span id="header-login-text">Recuperar contrase&ntilde;a</span>
                </div>

                <mat-divider class="space-mat-divider"></mat-divider>
                <mat-form-field appearance="outline">
                    <mat-label>Correo electr&oacute;nico</mat-label>
                    <input matInput placeholder="Ingrese su correo electr&oacute;nico" formControlName="email"
                        (keyup.enter)="onEnter()">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="errorHandling('email', 'maxlength')">
                        N&uacute;mero de caracteres m&aacute;ximo de 30
                    </mat-error>
                    <mat-error *ngIf="errorHandling('email', 'required')">
                        Este campo es obligatorio
                    </mat-error>
                    <mat-error *ngIf="errorHandling('email', 'email')">
                        Formato de correo electr&oacute;nico inv&aacute;lido
                    </mat-error>
                    <mat-hint>
                        La contrase&ntilde;a ser&aacute; enviada a su correo electr&oacute;nico
                    </mat-hint>
                </mat-form-field>
                <button mat-raised-button class="button-login">Recuperar contrase&ntilde;a</button>
            </div>
        </div>
    </form>
</div>