/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "DM Sans Regular";
    src: local("DM Sans Regular"), url(./assets/fonts/DMSans-Regular.ttf) format("truetype");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'DM Sans Regular';
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
    color: #ffffff;
    background-color: #2E294E;
}

.blue-snackbar {
    background: #18082e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }